node_modules/
build/
downloads/
downloads_backup/
appdataxsj/
*.xlsx
dev.js
.local-chromium/
.log
m.*.json
dist/
esm/
.log/
temp/
decompile/
dist/*.zip
build_cli/
.yarn/* 
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.pnp/*