#include only /build /example /lib
#
#
.local-chromium/
.vscode/
appdataxsj/
decompile/
dist/
#example/
#lib/
node_modules/
screenshot/
src/
tests/
/dist/*.zip
dist/dev.d.ts
dist/dev.js
dist/instructions.txt
dist/example_apps.txt